#selectedWordH3 {
    display: inline-block;
}

#randomWord {
    display: inline-block;
}

#livesH3 {
    display: inline-block;
}

#remainingLives {
    display: inline-block;
    font-weight: bold;
    color: red;
}